$white-color: white;
.row {
    color: $white-color;
    margin-left: 20px;
    margin-top: 20px;
}

.Slider {
  padding: 20px;
}

.row_poster {
      max-height: 300px;
      object-fit: contain;
      margin-right: 30px;
      transition: transform 450ms;
      cursor: pointer;
      border-radius: 3%;
      width: 100%;
      

}
.row_poster:hover {
  transform: scale(1.08);
        opacity: 1;
}



.slick-prev,
.slick-next {
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border: none;  
  outline: none;  
  cursor: pointer;
  padding: 10px;  
   
}

.slick-prev {
  left: 0;        
}

.slick-next {
  right: 0;      
}



