.SearchBar{
    max-width: 100%;
}

.SearchBar_input {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: #8a2be2;

    padding-bottom: 0.5rem;
    max-width: 60%;
    margin-top: 14px;
    margin-left: 20px;
}

.search_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.search_button:hover {
    color: #000;
    background-color: #8a2be2;
    transition: all 0.2s;
}
